.container{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    background-color: var(--creamWhite);
    border: 3px solid var(--bluette);
    border-radius: 20px;
}