.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    position: relative;
    justify-content: center;
}
.main{
    display: flex;
    width: 100%;
    align-items: center;

}
.sittersList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
}